.AirportBarometer-container{
    text-align: center;
    margin-bottom: 25px;
}

.AirportBarometer-button{
    color: var(--background-color);
    margin: -1px;
    background-color: var(--border-color);
    border: 2px solid var(--background-color);
    font-family: "droid-sans-mono", monospace;
    padding: 5px;
    transition: .2s;
}

#inHg{
    background-color: #e7e7e7;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

#mb{
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}