.AirportClouds-title{
    text-decoration: underline;
    text-align: center;
}

.AirportClouds-container{
    margin: 25px auto;
    justify-content: center;
    padding: 10px;
    width: fit-content;
    border: 2px solid var(--border-color);
    border-radius: 2px;
    background-color: var(--border-color);
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    overflow: hidden;
    color: #e7e7e7;
    font-family: "droid-sans-mono", monospace;
}