.AirportTemp-container{
    display: flex;
    margin-left: 10px;
}

.AirportTemp-text{
    transition: .25s;
    cursor: pointer;
    font-family: "droid-sans-mono", monospace;
}

.AirportTemp-spacing{
    margin-left: 3px;
    margin-right: 3px;
}

.AirportTemp-scales{
    display: flex;
    margin-left: 3px;
    color: #0858a8;
}

.tempCelsius{
    color: #e7e7e7;
}
