.AirportTitle-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
    padding: 15px;
    width: fit-content;
    border: 2px solid var(--border-color);
    border-radius: 2px;
    background-color: var(--border-color);
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    overflow: hidden;
}

.AirportTitle-title{
    text-align: center;
    font-family: "droid-sans-mono", monospace;
    color: #e7e7e7;
}

