.AirportTemp-container{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.AirportTemp-text{
    transition: .25s;
    cursor: pointer;
    height: 50%;
    font-family: "droid-sans-mono", monospace;
    color: var(--background-color);
    background-color: var(--border-color);
    border: 2px solid var(--background-color);
}

.AirportTemp-scales{
    display: flex;
    margin-left: 3px;
}

#fahrenheit{
    margin-left: -1px;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

#celsius{
    background-color: #e7e7e7;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
}
