.AirportClouds-title{
    text-decoration: underline;
    text-align: center;
}

.AirportClouds-container{
    text-align: center;
    margin: 25px auto;
    padding: 10px;
    width: fit-content;
    border: 2px solid var(--border-color);
    border-radius: 2px;
    background-color: var(--border-color);
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    overflow: hidden;
    color: #e7e7e7;
    font-family: "droid-sans-mono", monospace;
}

.AirportClouds-button{
    color: var(--background-color);
    margin: -1px;
    background-color: var(--border-color);
    border: 2px solid var(--background-color);
    font-family: "droid-sans-mono", monospace;
    padding: 5px;
    transition: .2s;
    cursor: pointer;
}

#feet{
    background-color: #e7e7e7;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}

#meters{
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}