:root{
  --background-color: #0353a4;
  --border-color: #0466c8;
  --rotation: 0;
  --needle-rotation: 0deg;
}

body {
  flex-direction: column;
  background-color: var(--background-color);
}

body::-webkit-scrollbar{
  display: none;
}